.nav-main {
    margin-block: 2rem;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            display: contents;

            a {
                font-size: 1.4rem;
                padding: 1em;
                border-radius: 0.3em;
                transition: 250ms all;

                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
            }
        }
    }
}