/* Basic config */
#root {
	width: 100%;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Standard styling */

body {
	/* Page standard padding */
	margin: 0;
	display: flex;
	min-height: 100vh;
}

:root {
	/* Standard Typography */
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	--clr-green-500: rgb(51, 162, 17);
}

